body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fc1e8a;
    background-image: url('../img/img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(
        325deg,
        #03001e 0%,
        #7303c0 30%,
        #db19ab 60%,
        #ffffff 100%
        );
    padding: 40px 60px;
    background-image: url('../img/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 25px;
}

h2{
    font-size: 3em;
    color:#f1e9e9;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

.reset{
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #ffff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    border-radius: 15px;
    
}

.reset:focus{
    color: #db19ab;
    background-color: #262809;
}

.game{
    /* border: 0.5px solid black; */
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style:preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 110px;
    height: 110px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    transform: rotateY(180deg);
    transition: 0.25s;
    border-radius: 15px;
    
    
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../img/vVXksFeLeVoUTUgqPM9FlcVv.webp'); /* Substitua pelo caminho da sua imagem */
    background-position: center center;
    background-size: cover; /* Para cobrir todo o conteúdo do pseudo-elemento */
    transition: 0.25s;
    transform: rotateY(0deg) scaleX(-1);
    backface-visibility: hidden;
    border-radius: 7px;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after{
    transform: rotateY(180deg);
}


.item img {
    width: 100px; /* Defina a largura desejada */
    height: 100px; /* Defina a altura desejada */
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #635555; /* Escolha a cor do texto desejada */
    text-align: center; /* Centraliza o texto horizontalmente */
    padding: 10px 0; /* Adicione preenchimento superior e inferior para melhor aparência */
}
